<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    </head>
  <body class="sub-page cps-page">
    <header class="page-header" role="banner">
      <div class="top-btn-container"> 
      <a title="Github Repository" class="top-icon github-logo" href="https://github.com/gulsahcakir/CPS"></a>
    </div>
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    </header>
    <section id="content" class="main-content" role="main">
      {{ content }}
    </section>
  </body>
</html>